<!-- Loop over each object in the projects array -->

<div class="row mb-4 project">
    <div class="col-md-5 pl-6">
        <h2 class="pl-4">
            <!-- Call helper function with triple brackets to render the emoji span as HTML -->

            <p>Created by {{post.User.name}} on {{format_date post.date}}</p>

            <a href="/post/{{post.id}}">{{post.name}}</a>
        </h2>
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>

    </div>
    {{#each post.Comments as |comment|}}
    <div class="row mb-4 project">
        <div class="pl-6">
            <h2 class="pl-4">
                <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                <p>Created by {{comment.User.name}} on {{format_date comment.date}}</p>


            </h2>
            <p>{{comment.content}}</p>

        </div>
    </div>
    {{/each}}
    <div class="">
        <form id="commentForm" class="w-96 flex flex-row flex-wrap">
            <textarea id="content"></textarea>
            <button class="h-8 w-fit p-2 bg-slate-400">
                <h2>Add New Comment</h2>
            </button>
        </form>
    </div>
</div>